footer {
    bottom: -130px;
    animation: 500ms ease-in-out 1 normal forwards running 500ms fadeInUp;
}

footer:hover {
    column-gap: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.circle {
    background-image: linear-gradient(45deg, rgb(248, 248, 248), rgb(232, 232, 232), rgb(248, 248, 248), rgb(232, 232, 232));
    background-size: 200% 100%;
}

.circle svg {
    width: 14px;
}

.circle::after {
    content: " ";
    position: absolute;
    height: 4rem;
    width: 140%;
    left: 50%;
    bottom: -4rem;
    transform: translateX(-50%);
    cursor: default;
    /*background: rebeccapurple;*/
    background: transparent;
}

.circle::before {
    content: " ";
    position: absolute;
    height: 4rem;
    width: 110%;
    left: 50%;
    bottom: -3rem;
    transform: translateX(-50%);
    /*background: red;*/
    background: transparent;
    z-index: -1;
}

/*-------------*/
/*  keyframes  */
/*-------------*/

@keyframes fadeInUp {
    50% {
        bottom: 1.25rem;
    }

    to {
        bottom: 1.25rem;
        opacity: 1;
    }
}